.reviews-container.services_style {
    max-width: calc(280px * 4 + (26px * 3)); /* Максимальна ширина: 4 відгуки + проміжки */
    margin-top: 110px;
}

.container-title.services_style h2 {
    color: rgb(255, 255, 255);
}
.container-title {
    margin-bottom: 100px;
    
}
/* Стилі для посилання "Передивитися всі відгуки..." */
/* Розміщення посилання у правому нижньому куті */
.view-all-reviews {
    position: absolute;
    bottom: -25px; /* Відступ від нижньої межі */
    right: 10px;  /* Відступ від правої межі */
    
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
    /* За бажанням додайте hover-ефекти */
}

.no-reviews.services_style {
    color: white;
}