.in-dev {
    position: relative;
    /* display: inline-block; – видаляємо це правило */
}
.in-dev::after {
    content: "In dev"; /* текст, який буде вставлено */
    position: absolute;
    font-family: Lato, sans-serif;
    top: 0;
    right: 0;
    background-color: #FFD700;
    color: black;
    padding: 2px 5px;
    font-size: 13px;  /* рекомендую збільшити шрифт для кращої читабельності */
    border-radius: 9999px;
    transform: translate(75%, -90%);
    font-weight: 600;
    width: 40px;
}



.in-dev-search::after {
    content: "In dev";
    position: absolute;
    font-family: Lato, sans-serif;
    top: 20%;      /* розміщення нижче контейнера */
    right: -20px;
    background-color: #FFD700;
    color: black;
    padding: 2px 5px;
    font-size: 13px;  /* рекомендується встановити читабельний розмір шрифту */
    border-radius: 9999px;
    transform: translateY(5px); /* невеликий зсув вниз, можна відрегулювати */
    font-weight: 600;
}



@media only screen and (max-width: 1500px) {
.in-dev-search::after {
    top: 2%;      /* розміщення нижче контейнера */
    right: -5px;
}

.in-dev {
    position: relative; /* Псевдоелемент позиціонується відносно цього контейнера */
  }
  
  .in-dev::after {
    content: "In dev";
    position: absolute;
    left: calc(100% + 10px); /* Відстань від лівої межі псевдоелемента до правої межі батьківського елемента становитиме 5px */
    top: 50%;             /* Вертикальне позиціонування: 50% висоти батьківського елемента */
    transform: translateY(-50%);  /* Для точного центровання по вертикалі */
    
    font-family: Lato, sans-serif;
    background-color: #FFD700;
    color: black;
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 9999px;
    font-weight: 600;
  }
  
  
}