{% load static %}
<div id="signupForm">
    <div class="form-logo">
        <img src="{% static 'images/logo2.jpg' %}" alt="Logo" style="width: 50px;">
    </div>
    <h2 data-lang="signupTitle">Sign Up</h2>
    <form id="signupFormElement" action="#" method="POST">
        <div class="form-group">
            <label for="username" data-lang="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email" data-lang="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password" data-lang="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword" data-lang="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div id="errorMessage" class="error-message" data-lang="passwordMismatch"></div>
        <div class="form-group">
            <button type="submit" data-lang="signupButton">Sign Up</button>
        </div>
        <div class="switch-links">
            <a id="loadFormLogin" data-lang="switchToLogin">Already signed up? Log in</a>
        </div>
    </form>
</div>
