{% load static %}
<div id="signupForm">
    <div class="form-logo">
        <img src="{% static 'images/logo2-removebg-preview.png' %}" alt="Logo">
    </div>
    <h2 data-lang="signupTitle">Sign Up</h2>
    <form id="signupFormElement" action="#" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" id="username" name="username" placeholder=" " required>
            <label id="username-label" for="username" data-lang="username">Username</label>
        </div>
        <div class="form-group">
            <input type="email" id="email" name="email" placeholder=" " required>
            <label for="email" data-lang="email">Email</label>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" placeholder=" " required>
            <label for="password" data-lang="password">Password</label>
        </div>
        <div class="form-group">
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder=" " required>
            <label for="confirmPassword" data-lang="confirmPassword">Confirm Password</label>
        </div>
        <div id="errorMessage" class="error-message" data-lang="passwordMismatch"></div>
        <div class="form-group">
            <button type="submit" data-lang="signupButton">Sign Up</button>
        </div>
        <div class="switch-links">
            <a id="loadFormLogin" data-lang="switchToLogin" href="/account/login/">Already signed up? Log in</a>
        </div>
    </form>
</div>
