{% extends "account/account.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Reset Your Password" %}{% endblock %}

{% block content %}
<div id="passwordResetForm">
    <div class="form-logo">
        <img src="{% static 'images/logo/logo.png' %}" alt="Logo">
    </div>
    <h2>{% trans "Reset Your Password" %}</h2>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        
        {# Виведення не-польових помилок, якщо є #}
        {% if form.non_field_errors %}
            <div class="error-message">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% for error in form.email.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <button type="submit">{% trans "Send Password Reset Email" %}</button>
        </div>
    </form>
    <div class="switch-links">
        <a href="{% url 'account_login' %}">{% trans "Back to Login" %}</a>
    </div>
</div>
{% endblock %}
