{% load static i18n %}
<link rel="stylesheet" href="{% static 'css/components/advantages.css' %}">

<div class="advantages-container">
  <!-- Заголовок контейнера з перевагами -->
  <div class="advantages-header">Переваги</div>
  
  <!-- Перша перевага -->
  <div class="advantages-content">
    <!-- Ліва частина: заголовок переваги -->
    <div class="advantage-heading">Гнучкість</div>
    <!-- Права частина: текст переваги -->
    <div class="advantage-description">Налаштовуємо AI під ваші конкретні завдання</div>
  </div>
  
  <!-- Друга перевага -->
  <div class="advantages-content">
    <div class="advantage-heading">Економія</div>
    <div class="advantage-description">Знижуємо витрати на персонал і ресурси
    </div>
  </div>
  
  <!-- Третя перевага -->
  <div class="advantages-content">
    <div class="advantage-heading">Інноваційність</div>
    <div class="advantage-description">Працюємо з найсучаснішими технологіями</div>
  </div>
  
  <!-- Четверта перевага -->
  <div class="advantages-content">
    <div class="advantage-heading">Якість</div>
    <div class="advantage-description">Забезпечуємо високу продуктивність AI-рішень</div>
  </div>
</div>
