{% load static i18n %}
<link rel="stylesheet" href="{% static 'css/components/advantages.css' %}">

<div class="advantages-container">
  <!-- Заголовок контейнера з перевагами -->
  <div class="advantages-header">{% trans "Переваги" %}</div>
  
  <!-- Перша перевага -->
  <div class="advantages-content">
    <!-- Ліва частина: заголовок переваги -->
    <div class="advantage-heading">{% trans "Гнучкість" %}</div>
    <!-- Права частина: текст переваги -->
    <div class="advantage-description">{% trans "Налаштовуємо AI під ваші конкретні завдання" %}</div>
  </div>
  
  <!-- Друга перевага -->
  <div class="advantages-content">
    <div class="advantage-heading">{% trans "Економія" %}</div>
    <div class="advantage-description">{% trans "Знижуємо витрати на персонал і ресурси" %}</div>
  </div>
  
  <!-- Третя перевага -->
  <div class="advantages-content">
    <div class="advantage-heading">{% trans "Інноваційність" %}</div>
    <div class="advantage-description">{% trans "Працюємо з найсучаснішими технологіями" %}</div>
  </div>
  
  <!-- Четверта перевага -->
  <div class="advantages-content">
    <div class="advantage-heading">{% trans "Якість" %}</div>
    <div class="advantage-description">{% trans "Забезпечуємо високу продуктивність AI-рішень" %}</div>
  </div>
</div>
