{% load static i18n %}
<link rel="stylesheet" href="{% static 'css/components/order_a_consultation.css' %}">
<script src="{% static 'scripts/scroll.js' %}"></script>

<div class="image-container">
    <div class="inner-container">
        <h1 class="headline">
            {% trans "Готові покращити свій бізнес за допомогою AI?" %}<br>
            {% trans "Зв’яжіться з нами, і ми підберемо для вас оптимальне рішення!" %}
        </h1>
        <button class="clickable-button scrollButton">
            {% trans "Замовити консультацію" %}
        </button>
    </div>
</div>
