{% load static i18n %}

<link rel="stylesheet" href="{% static 'css/components/services_details.css' %}">
  <div class="container">
    <header>Послуги</header>
    <div class="columns">
      <!-- Стовпець 1 -->
      <div class="column">
        <!-- Елемент 1 -->
        <div class="card">
          <div class="card-inner">
            <div class="card-header">
              <div class="card-header-inner">Адаптація AI-моделей</div>
            </div>
            <div class="card-description">
              змінюємо алгоритми та функціонал під ваші бізнес-завдання.
            </div>
            <div class="card-image"></div>
            <img src="{% static 'images/services_icon1.svg' %}" alt="Card Image" class="card-image">
            <div class="card-button scrollButton">
              <span>Замовити</span>
            </div>
          </div>
        </div>
        <!-- Елемент 2 -->
        <div class="card">
          <div class="card-inner">


          </div>
        </div>
      </div>
      <!-- Стовпець 2 -->
      <div class="column">
        <div class="card">
          <div class="card-inner">
            <div class="card-header">
              <div class="card-header-inner">Інтеграція AI у ваші системи</div>
            </div>
            <div class="card-description">
              підключаємо штучний інтелект до ваших платформ, CRM, сайтів тощо.
            </div>
            <div class="card-image"></div>
            <img src="{% static 'images/services_icon2.svg' %}" alt="Card Image" class="card-image">
            <div class="card-button scrollButton">
              <span>Замовити</span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">
            <div class="card-header">
              <div class="card-header-inner">Підтримка та оновлення</div>
            </div>
            <div class="card-description">
              слідкуємо за стабільною роботою AI та оновлюємо відповідно до нових вимог.
            </div>
            <div class="card-image"></div>
            <img src="{% static 'images/services_icon5.svg' %}" alt="Card Image" class="card-image">
            <div class="card-button scrollButton">
              <span>Замовити</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Стовпець 3 -->
      <div class="column">
        <div class="card">
          <div class="card-inner">
            <div class="card-header">
              <div class="card-header-inner">Оптимізація та навчання AI</div>
            </div>
            <div class="card-description">
              покращуємо продуктивність моделі, налаштовуємо точність та швидкість роботи.
            </div>
            <div class="card-image"></div>
            <img src="{% static 'images/services_icon3.svg' %}" alt="Card Image" class="card-image">
            <div class="card-button scrollButton">
              <span>Замовити</span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">

          </div>
        </div>
      </div>
      <!-- Стовпець 4 -->
      <div class="column">
        <div class="card">
          <div class="card-inner">
            <div class="card-header">
              <div class="card-header-inner">Створення AI-чатботів та автоматизація</div>
            </div>
            <div class="card-description">
              розробляємо інтелектуальні рішення для автоматизації бізнес-процесів.
            </div>
            <div class="card-image"></div>
            <img src="{% static 'images/services_icon4.svg' %}" alt="Card Image" class="card-image">
            <div class="card-button scrollButton" >
              <span>Замовити</span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-inner">

          </div>
        </div>
      </div>
    </div><!-- .columns -->
  </div><!-- .container -->
