{% load static i18n %}
<!-- Підключення зовнішнього CSS файлу -->
<link rel="stylesheet" href="{% static 'css/components/serveces_header.css' %}">

<div class="services-header-container">
  {% include "newsletter/email_form.html" %}
  <div class="service-boxes">
    <div class="service-box">
      <div class="service-text">
        Мінімізуйте витрати на персонал, обравши нашу AI-модель
      </div>
    </div>
    <div class="service-box">
      <div class="service-text">
        Наш AI-асистент адаптується під вашу систему та потреби, перетворюючи штучний інтелект на ефективний інструмент
      </div>
    </div>
    <div class="service-box">
      <div class="service-text">
        Мінімізуйте витрати на персонал, обравши нашу AI-модель
      </div>
    </div>
  </div>
</div>
