{% load static i18n %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">

  <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
  <title>{% block title %} Lizzie {% endblock %}</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/in-development.css' %}">
  <script src="{% static 'scripts/base.js' %}"></script>
  

  
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% include 'include/header.html' %}
  <main class="content">
    <div >
      {% block content %}

      {% endblock %}
    </div>
  </main>
  {% include 'include/footer.html' %}
</body>
</html>
