{% load static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">

<div class="cards-section">
  <h2 class="cards-header">Переваги продукту від Lizzie</h2>
  <div class="cards-container">
    <div class="card-1">
      <p class="card-text">
        Швидкий, дружній чат без формальностей, де завжди є з ким поговорити
      </p>
    </div>
    <div class="card-2">
      <p class="card-text">
        Реальні оператори + AI-бот, що адаптується до стилю спілкування
      </p>
    </div>
    <div class="card-3">
      <p class="card-text">
        Підтримує діалог у вибраному стилі та реагує миттєво
      </p>
    </div>
    <div class="card-4">
      <p class="card-text">
        Є режими: дружній “Френдер” та мотивуючий “Пушер”
    </div>
    <div class="card-5">
      <p class="card-text">
        Використовує аналіз тональності тексту та стилю повідомлень
      </p>
    </div>
    <div class="card-6">
      <p class="card-text">
        Ми створюємо рішення під ваші бізнес-задачі
      </p>
    </div>
  </div>
</div>
