{% load static i18n %}
{% load static i18n %}
<footer class="footer-bg">
  <div class="footer-container">
    <!-- Стовпець 1 -->
    <div class="footer-column">
      <ul>
        <li class="in-dev"><a href="{% url 'ai_kit' %}">{% trans 'AI-набір' %}</a></li>
        <li class="in-dev"><a href="{% url 'services' %}">{% trans 'Послуги' %}</a></li>
        <li class="in-dev"><a href="{% url 'updates' %}">{% trans 'Оновлення' %}</a></li>
        <li class="in-dev"><a href="{% url 'tech_news' %}">{% trans 'Техно-новини' %}</a></li>
      </ul>
    </div>
    <!-- Стовпець 2 -->
    <div class="footer-column">
      <ul>
        <li class="in-dev"><a href="{% url 'community' %}">{% trans 'Ком\'юніті' %}</a></li>
        <li class="in-dev"><a href="{% url 'cookies' %}">{% trans 'Кукі' %}</a></li>
        <li class="in-dev"><a href="{% url 'about_us' %}">{% trans 'Про нас' %}</a></li>
        <li class="in-dev"><a href="{% url 'faq' %}">{% trans 'FAQ' %}</a></li>
      </ul>
    </div>
    <!-- Стовпець 3 -->
    <div class="footer-column">
      <ul>
        <li class="in-dev"><a href="{% url 'support' %}">{% trans 'Підтримка' %}</a></li>
        <li class="in-dev"><a href="{% url 'resources' %}">{% trans 'Ресурси' %}</a></li>
        <li class="in-dev"><a href="{% url 'premium' %}">{% trans 'Преміум' %}</a></li>
        <li class="in-dev"><a href="{% url 'settings' %}">{% trans 'Налаштування' %}</a></li>
      </ul>
    </div>
    <!-- Стовпець 4 -->
    <div class="footer-column">
      <h3>{% trans 'Соціальні мережі' %}</h3>
      <div class="social-icons">
        <a href="https://t.me/lizzie_officiall" class="icon-telegram" target="_blank" title="{% trans 'Телеграм' %}"></a>
        <a href="https://x.com/lizzieofficiall" class="icon-x" target="_blank" title="{% trans 'X' %}"></a>
        <a href="https://www.instagram.com/lizzie.officiall" class="icon-instagram" target="_blank" title="{% trans 'Інстаграм' %}"></a>
        <a href="mailto:example@gmail.com" class="icon-gmail" target="_blank" title="{% trans 'Gmail' %}"></a>
      </div>
    </div>
  </div>
</footer>
