{% load static %}
<div class="header-wrapper">
  <!-- Фіксований Nav Bar -->
  <header class="rectangle-14">
    <div class="nav-left">
      <a href="/" class="logo-link">
        <img src="{% static 'images/logo/logo.png' %}" alt="Лого">
      </a>
      <nav>
        <ul class="nav-items">
          <li><a href="/#">AI-набір</a></li>
          <li><a href="/#">Послуги</a></li>
          <li><a href="/#">Оновлення</a></li>
          <li><a href="/#">Техно-новини</a></li>
          <li><a href="/#">Підтримка</a></li>
          <li><a href="/#">Ресурси</a></li>
          <li><a href="/#">Преміум</a></li>
          <li><a href="/#">Більше</a></li>
        </ul>
      </nav>
    </div>
    <div class="nav-right">
      <ul class="nav-items">
        <li><a href="#">UA</a></li>
        <li>
          <a href="https://t.me/LizesBot" target="_blank" class="rectangle-23-first">
            Start Chatting
          </a>
        </li>
        <li><a href="#">Увійти</a></li>
        <li>
          <a href="#">Реєстрація</a>
          <!-- Кнопка профілю, якщо користувач зараеєстрований -->
          <!-- <button class="ellipse-1"></button> -->
        </li>
      </ul>
    </div>
  </header>
  


  

</div>
