{% load static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">

<!-- Додатковий блок input (за Figma: group-26-1) -->
  <div class="group-26-1 in-dev-search">
    <input type="text" class="header-input" placeholder="Пошук..." />
    <a href="/#" class="search-icon" title="Search"></a>
  </div>

<!-- Секція з зображенням header (ananas), розтягнута на всю ширину сторінки -->
  <div class="header-ananas-1">
    <div class="header-title-overlay">
      <h1 class="main-title">Ми створюємо цифрові рішення для вашого успіху</h1>
      <h2 class="subtitle">Інноваційні технології, індивідуальний підхід і перевірені стратегії для розвитку вашого бізнесу.</h2>
    </div>
  </div>