{% load static %}
{% load static i18n %}
<link rel="stylesheet" href="{% static 'css/start-chatting.css' %}">
  <div class="main-container">
    <!-- Лівий стовпець: текстовий блок -->
    <div class="text-container">
      <p>
        {% trans 'Наша мета — допомогти людям, які почуваються самотніми або потребують емоційної підтримки. Лізі стає для них віртуальним другом, який: вислухає без осуду, дасть поради або просто побуде поруч, допомагає відчути себе краще завдяки реалістичному спілкуванню.' %}
      </p>
    </div>
    <!-- Правий стовпець: круглий елемент -->
    <div class="circle-element">
      <div class="circle-container">
        <div class="circle-background"></div>
        <div class="circle-content">
          <div class="headline-text">{% trans 'Майбутнє тут' %}</div>
          <div class="button-wrapper">
            <a href="https://t.me/LizesBot" target="_blank" class="action-button">
              <span class="action-button-text">Start Chatting</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
