/* Фон футера */
.footer-bg {
  position: relative;
  width: 100%;
  background: #000000;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 25px;
  box-sizing: border-box;


}

/* Контейнер футера */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;  /* Дозволяє перенос елементів при нестачі місця */
  gap: 20px;        /* Проміжки між стовпцями */
  padding: 0 20px;

  /* Центруємо стовпці по вертикалі */
  align-items: center;
}

/* Стовпці футера */
.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;      /* Центрування по горизонталі в середині стовпця */
  justify-content: center;  /* Центрування по вертикалі в середині стовпця */
  text-align: center;
  
  min-width: 200px;
}

/* Заголовок стовпця */
.footer-column h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
}

/* Скидання стандартних відступів для списків */
.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Опційне вирівнювання елементів списку */
.footer-column li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Стилі посилань */
.footer-column ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #FF6DBE;
}

.footer-column ul li.active a {
  color: #FF6DBE;
}

/* Іконки соціальних мереж */
.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* Іконки для конкретних соціальних мереж */
.icon-telegram {
  background-image: url('../../images/icons/telegram-icon.png');
}

.icon-x {
  background-image: url('../../images/icons/x-icon.png');
}

.icon-instagram {
  background-image: url('../../images/icons/instagram-icon.png');
}

.icon-gmail {
  background-image: url('../../images/icons/gmail-icon.png');
}

/* Медіа запити */
/* Для телефонів - 1 стовпець */
@media only screen and (max-width: 425px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-column {
    width: 100%;
    max-width: 400px; /* Регулювання ширини при потребі */
  }
}

/* Для планшетів - 2 стовпці */
@media only screen and (min-width: 425px) and (max-width: 1023px) {
  .footer-container {
    justify-content: center;
    gap: 20px;
  }
  .footer-column {
    width: calc(50% - 20px);
  }
}

/* За замовчуванням (десктоп) – 4 стовпці 
   Початкове розташування за допомогою flex та flex: 1 забезпечує 4 стовпці при достатньому просторі */
