.image-container {
    max-width: 1198px;
    margin: 0 auto;
    margin-top: 185px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    text-align: center;
    padding: 40px;  /* Внутрішні відступи, щоб контент не прилипав до країв */

    
    /* Flex налаштування */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

  }
  
  .headline {
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 20px; /* Відступ між заголовком і кнопкою */
  }
  
  .clickable-button {
    padding: 20px 40px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 32px;
    background: linear-gradient(90deg, #FF8FFD 0%, #C7B8FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .clickable-button:hover {
    transform: scale(1.03);
  }
  
  .clickable-button:active {
    transform: scale(0.98);
  }
  

  
  @media only screen and (max-width: 1198px) {
    .image-container {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  